@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  
}
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
/*Home*/
body {
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(120,144,156,1) 39%);
}
.navbar{
  background-color:#17589C;

}
.navbar-brand{
  margin-left:50px;
}
.logo{
  width:100px;
}
a{
  color:#fff !important;
}
p{
  color:#fff;
  font-size: .8rem;
}
h1{
color:#fff;
font-weight: bold;
text-transform: uppercase;
font-size 1.7rem;
}
h3{
color:#00D1FF;
font-weight: bold;
font-size 1.3rem;
}
hr{
  border-top:2px solid rgba(120, 144, 156, 0.46);
}
.img{
  background-image: url('img/home.png');
  background-size:cover;
  width: 100%;
  background-repeat: round;
}
.brand{
  margin-bottom:50px;
}
.btn-primary{
  background-color: #689F38;
  border: 2px solid #fff;
  border-radius: 5rem;
  font-weight: bold;
  padding: 15rem;
  transition: all 0.2s;
  color:#fff;
  font-size:14px;
  margin-top:15px;
}
:hover.btn-primary{
  background-color: transparent ;
  border: 2px solid #689F38;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin: 100px;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
  background-color: #546E7A;
  border-radius: 15px;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 70%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.btn-esqueci{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5rem;
  font-weight: bold;
  padding: 15rem;
  transition: all 0.2s;
  color:#fff;
  font-size:14px;
  margin-top:15px;
}
/*Páginas internas*/
.body-int{
  background-color: ;
}
.form-rounded {
  border-radius: 1rem;
  }
.lead{
  background-color:#546E7A;
  font-weight: bold;
  padding-left: 65px;
}
.rounded{
  margin-bottom:25px;
}
.rounded-top {
  background-color:#17589C !important;
  font-size: 1.2rem;
}
.btn-success{
  background-color: #689F38;
  border: 2px solid #fff;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.2s;
  color:#fff;
}
.cadastro{
  font-size: 1rem;
}
  /*Ajustes mobile*/

  @media (max-width: 600px) {
    .card-signin {
      margin: 0 !important;
      border-radius: 0;
    }
    .img{
      display:none;
    }
  }